Segundo Trimestre/UD4/ACTIVIDADES/Actividad LM4.4/Actividad LM44_1.dtd

<!ELEMENT animales (animal)>
<!ELEMENT animal (nombre, familia, distribuciones+)>
<!ATTLIST animal estado CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre nombre_cientifico CDATA #REQUIRED>
<!ELEMENT familia (#PCDATA)>
<!ELEMENT distribuciones (distribucion+)>
<!ELEMENT distribucion (#PCDATA)>