Segundo Trimestre/UD4/ACTIVIDADES/Actividad LM4.4/Actividad LM44_4.dtd

<!ELEMENT alumnos (alumno+)>
<!ELEMENT alumno (numeroExpediente, nombre, fechaNacimiento, telefono+, mujer?, hombre?)>
<!ELEMENT numeroExpediente (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fechaNacimiento (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT mujer (#PCDATA)>
<!ELEMENT hombre (#PCDATA)>