Segundo Trimestre/UD6/ACTIVIDADES/Actividad LM6.2/Actividad LM62.dtd

<!ELEMENT biblioteca (libros)>
<!ELEMENT libros (libro+)>
<!ELEMENT libro (titulo, autor+, editorial, paginas, edicionElectronica?)>
<!ATTLIST libro publicacion CDATA #REQUIRED>
<!ATTLIST libro edicion CDATA #IMPLIED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (nombre, apellidos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT paginas (#PCDATA)>
<!ELEMENT edicionElectronica (#PCDATA)>